*
!*/
!*.*
!CODEOWNERS

# Prerequisites
*.d
.cache/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build folder
/build/
/staging/
/output/

# ide folders
/.idea/

# MacOS
.DS_Store

#logs
.install_logs/*

# Dependencies
vcpkg/
vcpkg_installed/

# Locale lang
ACTIVE_LANG

# Scripts
!/scripts/
!/scripts/build.sh.d
!/scripts/style.sh.d
!/scripts/Build/vcpkg

# Python cache
__pycache__/

# Docker
!Dockerfile
